/vendor/*
/config/app.php
/tmp/*
/logs/*
/composer.lock
/assets/lib/*
/assets/node_modules/*
/assets/src/js/lib/*
/assets/src/js/bower_components/*
/assets/src/css/lib/*
/assets/src/less/lib/*
/assets/src/fonts/lib/*
*.orig
*.swp
