@import (css) "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css";
@import (css) "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "./adminLTE/AdminLTE.less";
@import "gintonic/users.less";
@import "lib/wysiwyg.less";

.navbar-brand > img{
    height:100%;
    width:auto;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
  padding-top: 0px; 
}
.container .text-muted {
  margin: 20px 0;
}
.container{
    width: 100% !important;
}
.modal-backdrop {
    z-index: 0 !important;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.account-wall{
    padding: 0 0 20px;
}
img.site-logo{
   width: 60%; 
}

